body{
    margin: auto;
}




.header{
    color: white;
    text-align: center;
    background-color: black;
    padding: 25px;
    display: flex;
    flex-direction: row;
    font-weight: bold;
}


.space{
    font-size: 25px;
    position: relative;
    left: 450px;
}

.nav{
    display: flex;
    flex-direction: row;
    display: inline;
    position: relative;
    left: 550px;
    
}

.nav2{
    display: flex;
    flex-direction: row;
    display: inline;
    position: relative;
    left: 700px;
    
}

.img{
    height: 55vh;
    width: 100%;
}

a{
    text-decoration: none;
    color: white;
    padding: 10px;
}

.designs{
    color: gray;
    text-align: center;
    padding: 50px;
    font-weight: bold;
    font-size: 20px;
}

.h3{
   width: 200px;
   height: 150px;
   margin: 15px;
   padding: 20px;
   position: relative;
   left: 550px; 
   display: inline-block;
}

